.button {
  border: none;
  padding:15px;
  border-radius: 25px;
  height: 50px;
  color: #006DF0;

}

.button1 {
  display: flex;
  align-items: center;
  padding: 19px;
  border: none;
  border-radius: 50px;
  color: #006DF0;
  background-color: white
}
